main {
    width: 100%;
    background-color: $secondary-color;

/*Se alinea todo en row. El texto de welcome
se alinea a la izquierda y el video
hace un overflow a la derecha en 769px*/

    .main-section {
        width: 100%;
        padding: 0 4vw;
        padding-top: 6rem;
        font-weight: bold;
        text-align: center;
        overflow: hidden;
        color: $primary-font-color;
        background-color: $primary-color;

        .welcome-box {
            width: 100%;
            
            h1 {
                font-size: 3rem;

                span {
                    color: #ecb22e;
                }
            }

            p {
                font-size: 1rem;
                margin-top: 0.5rem;
                margin-bottom: 1rem;
            }

            &__main-button {
                width: 100%;
                background-color: white;
                color: $primary-color;
                text-align: center;
                border-radius: 4px;
                border: none;
                font-family: "Roboto", sans-serif;
                font-weight: 700;
                letter-spacing: .8px;
                padding: 19px 40px 20px;
            }

            &__google-button {
                width: 100%;
                background-color: #4884f4;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 4px;
                border: none;
                font-family: "Roboto", sans-serif;
                font-weight: 700;
                letter-spacing: .8px;
                padding: 19px 40px 20px;
                margin-top: 0.5rem;
                position: relative;
                


                img {
                    border-radius: 2px;
                    background-color: white;
                    max-width: 45px;
                    position: absolute;
                    top: 5px;
                    left: 10px;
                }
            }
        }

        .magic-proyect-illustration {
            margin-top: 2rem;
            margin-bottom: -7rem;
            min-width: 560px;
            justify-content: center;
            display: flex;
            align-items: flex-start;

            video {
                max-width: 700px;
                min-height: 400px;
            }
        }
    }

    .companies-section {
        background-color: $secondary-color;
        color: black;
        overflow: hidden;
        padding: 3rem 0;

        p {
            padding: 0 8vw;
            margin-bottom: 1rem;
            text-align: center;
            font-weight: bold;
        }

        &__companies {
            padding: 0 4vw;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            img {
                height: 50px;
                margin: 1rem;
            }

            .uber {
                height: 30px;
                margin: 1rem;
            }
        }
    }

    .features-section {
        padding: 3rem 0;
        padding-top: 0;
        overflow: hidden;
        background-color: $secondary-color;
        border: 0;
        

        &__apps {
            padding-right: 4vw;

            .features-section__section-copy {
                margin-left: 1rem;
            }
        }

        &__community {
            padding-left: 4vw;
            margin-left: 0;
            align-items: center;

            .features-section {
                margin-left: 0;

                &__section-copy {
                    margin-right: 1rem;
                }

                &__img-container {
                    display: flex;
                    justify-content: flex-end;
                }
            }
        }

        img {
            max-width: 100%;
            height: auto;
        }

        &__section-copy {
            margin-top: 2rem;
            max-width: 30rem;
            margin-bottom: 3rem;

            h2 {
                font-size: 2rem;
                font-weight: bold;
                margin-bottom: 1rem;
            }

            p {
                margin-bottom: 1rem;
                font-size: 1.125rem;
            }

            a {
                font-size: 1.125rem;
                text-decoration: none;
                color: #1264a3;
            }
        }
        
    }

    /*Las solutions usan videos en vez
    de imagenes y el texto se alinea en el centro
    en 769px*/

    .solutions-section {
        border: none;
        overflow: hidden;
        padding: 3rem 0;
        background-color: white;

        &__container {
            padding: 0 4vw;
            margin: 0 auto;

            h3 {
                text-align: center;
                margin-bottom: 1rem;
                font-size: 2rem;
                font-weight: bold;
            }

            p {
                text-align: center;
                margin-bottom: 1rem;
                font-size: 1.125rem;
            }

            .solutions-section__buttons {
                margin-top: 1rem;
                margin-bottom: 4rem;
                text-align: center;
            }

            /*Las stats pasan a flex-direction
            row y se ven más grandes en 769px*/

            .solutions-section__stats {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-bottom: 2rem;
                padding-top: 1.5rem;
                margin-top: 1rem;
                justify-content: space-around;
                font-size: 1.125rem;

                li {
                    max-width: 190px;
                    text-align: center;
                    list-style-type: none;
                    margin-bottom: 0;

                    .stat {
                        margin: 0;
                        color: $primary-color;
                        font-weight: bold;
                        font-size: 45px;
                    }

                    .stat-copy {
                        font-size: .875rem;
                        font-size: bold;
                        margin: 0;
                        color: black;
                        margin-bottom: 3rem;
                    }
                }
            }
        }
    }

    .button-purple-white-l {
        width: 100%;
        background-color: $primary-color;
        color: white;
        text-align: center;
        border-radius: 4px;
        border: none;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        letter-spacing: .8px;
        padding: 19px 40px 20px;
    }

    .button-white-purple-l {
        width: 100%;
        background-color: white;
        color: $primary-color;
        text-align: center;
        border-radius: 4px;
        border: 0.5px solid $primary-color;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        letter-spacing: .8px;
        padding: 19px 40px 20px;
        margin-top: 1rem;
    }

    .stories-section {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        overflow: hidden;
        list-style: none;
        padding: 0;
        padding-bottom: 1rem;
        max-width: 1530px;
        background-color: white;

        .video-example {
            margin: 0 0 1rem;
            padding: 0;
            
            video {
                max-height: 600px;
                width: 97%;
                clip-path: inset(25px 0 25px 0 round 0 500px 500px 0);
            }
        }

        &__copy {
            display: flex;
            flex-direction: column;
            padding: 2rem;

            p {
                font-weight: 300;
                line-height: 1.417;
                letter-spacing: -.3px;
                margin-top: 0;
                font-size: 1.25rem;
                margin-bottom: 1rem;
                font-style: italic;
            }

            .customer {
                font-weight: 700;
            }

            a {
                padding: 1rem 0;
                text-decoration: none;
                color: #1264a3;
            }
        }

        &__asterisk {
            padding: 0 4vw;
            margin: 0 auto;

            p {
                text-align: center;
                font-weight: 400;
                line-height: 1.2857;
                letter-spacing: normal;
                font-size: .875rem;
                margin-bottom: 1rem;
                padding-bottom: 0.5rem;
                color: #696969;
            }
        }
    }

    /* Media queries para 769px la parte de
explore se amplia a 4 cajas.*/

    .explore-section {
        background-color: $secondary-color;
        border: none;
        padding: 2rem 1rem;
        width: 100%;

        &__title {
            text-align: center;

            header {
                width: auto;
            }

            h3 {
                font-weight: 700;
                line-height: 1.1875;
                letter-spacing: -.3px;
                font-size: 1.5rem;
                margin-top: 1rem;
                margin-bottom: 1rem;
                color: black;
            }
        }

        &__box {
            padding: 1rem;
            margin: 0 auto;
            background-color: white;
            max-width: 285px;

        }

        .info-chart {
            height: 70%;

            img {
                width: 100%;
            }

            p {
                margin: 1.5rem 0;
            }
        }

        .redirection {
            height: 30%;
            padding-top: 4rem;
            display: flex;
            justify-content: space-between;
            color: #1264a3;
        }

        ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            color: grey;
            margin-top: 2rem;

            li {
                margin-left: 1rem;
            }

            .selected {
                color: $primary-color;
                margin-left: 0;
            }
        }
        
    }

    .discover-section {
        background-color: white;

        &__area {
            clip-path: ellipse(105% 100% at center top);
            padding-bottom: 6rem;
            padding-top: 5rem;
            background: $primary-color;
            border: none;
            height: auto;
            min-height: 370px;
        }

        &__container {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0 4vw;

            h3 {
                text-align: center;
                color: white;
                font-weight: 700;
                line-height: 1.158;
                letter-spacing: -.8px;
                margin-top: 0;
                font-size: 2rem;
                margin-bottom: 1rem;
            }

            .button-purple-white-l {
                border: 1px solid white;
                margin-top: 1rem;
            }
        }

    }  
    
    /*Media queries para 577px en
el footer, es lo primero que se ajusta
lo demás va bien. Hacer visibles los desplegables*/

    footer {
        width: 100%;
        background-color: white;

        .footer-menu {
            padding-top: 3.5rem;

            &__container {
                padding: 0 4vw;

                img {
                    width: 50px;
                }

                nav {
                    display: block;
                    margin-bottom: 1rem;
                    margin-top: 2rem;

                    ul {
                        margin-bottom: 1rem;
                    }

                        li {
                            display: flex;
                            justify-content: space-between;
                            font-weight: bold;
                            margin-bottom: 1.5rem;
                        }
                    
                }
            }
        }

        /*Le doy margin top al divider para que hay un
        espacio igual entre la parte de arriba y la de abajo.
        Arreglar en las mediaqueries*/

        .divider {
            border: 1px solid rgb(202, 202, 202);
            width: 90%;
            margin: 0 auto;
            margin-top: 3rem;
        }

        .footer-metasocial {
            margin-bottom: 1rem;
            margin-top: 0;

            &__container {
                padding: 0 4vw;
                font-weight: bold;

                .footer-metasocial__items {
                    padding-top: 1rem;
                    flex-direction: column;
                    align-items: flex-start;

                    li {
                        margin-top: 2rem;
                    }

                    .download {
                        color: #1264a3;
                    }

                    span {
                        color: blue;
                    }
                }

                .footer-metasocial__social {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 2rem;

                    img {
                        width: 25px;
                    }
                }
            }
        }

        .footer-legal {
            margin-bottom: 2rem;
            margin-top: 0;
            line-height: 1.25rem;

            &__container {
                padding: 0 4vw;

                p {
                    color: #696969;
                    font-size: .75rem;
                }
            }
        }
    }
    
}



