@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

header {
  width: 100vw;
}
header nav {
  height: 55px;
  display: flex;
  background-color: #541554;
  width: 100%;
  position: fixed;
  z-index: 2;
}
header nav .nav-row {
  width: 100%;
  padding: 0 4vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header nav .nav-row__logo {
  width: 125px;
  height: 100%;
  display: flex;
  align-items: center;
}
header nav .nav-row__logo img {
  width: 100px;
  height: auto;
}
header nav .nav-row__nav {
  display: none;
}
header nav .nav-row__burger {
  display: flex;
  align-items: center;
  cursor: pointer;
}
header nav .nav-row__burger img {
  width: 18px;
  height: auto;
}
header nav .nav-row__buttons {
  display: none;
}

@media screen and (min-width: 1200px) {
  header nav .nav-row__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
  }
  header nav .nav-row__nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    color: white;
  }
  header nav .nav-row__nav ul li {
    margin-right: 1.5rem;
    font-weight: bold;
  }
  header nav .nav-row__burger {
    display: none;
  }
  header nav .nav-row__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
  }
  header nav .nav-row__buttons a {
    text-decoration: none;
    color: white;
    margin-right: 1rem;
    padding: 0.5rem 0;
    font-weight: bold;
  }
  header nav .nav-row__buttons .button-white-purple-l {
    width: 100%;
    background-color: white;
    color: #541554;
    text-align: center;
    border-radius: 4px;
    border: 0.5px solid #541554;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    letter-spacing: 0.8px;
    padding: 0.75rem 1rem;
  }
}
main {
  width: 100%;
  background-color: #f4ede4;
}
main .main-section {
  width: 100%;
  padding: 0 4vw;
  padding-top: 6rem;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
  color: white;
  background-color: #541554;
}
main .main-section .welcome-box {
  width: 100%;
}
main .main-section .welcome-box h1 {
  font-size: 3rem;
}
main .main-section .welcome-box h1 span {
  color: #ecb22e;
}
main .main-section .welcome-box p {
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
main .main-section .welcome-box .mobile-hidden {
  display: none;
}
main .main-section .welcome-box__main-button {
  width: 100%;
  background-color: white;
  color: #541554;
  text-align: center;
  border-radius: 4px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 19px 40px 20px;
}
main .main-section .welcome-box__google-button {
  width: 100%;
  background-color: #4884f4;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 19px 40px 20px;
  margin-top: 0.5rem;
  position: relative;
}
main .main-section .welcome-box__google-button img {
  border-radius: 2px;
  background-color: white;
  max-width: 45px;
  position: absolute;
  top: 5px;
  left: 10px;
}
main .main-section .magic-proyect-illustration {
  margin-top: 2rem;
  margin-bottom: -7rem;
  min-width: 560px;
  justify-content: center;
  display: flex;
  align-items: flex-start;
}
main .main-section .magic-proyect-illustration video {
  max-width: 700px;
  min-height: 400px;
}
main .companies-section {
  background-color: #f4ede4;
  color: black;
  overflow: hidden;
  padding: 3rem 0;
}
main .companies-section p {
  padding: 0 8vw;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: bold;
}
main .companies-section__companies {
  padding: 0 4vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
main .companies-section__companies img {
  height: 50px;
  margin: 1rem;
}
main .companies-section__companies .uber {
  height: 30px;
  margin: 1rem;
}
main .features-section {
  padding: 3rem 0;
  padding-top: 0;
  overflow: hidden;
  background-color: #f4ede4;
  border: 0;
}
main .features-section video {
  display: none;
}
main .features-section__apps {
  padding-right: 4vw;
}
main .features-section__apps .features-section__section-copy {
  margin-left: 1rem;
}
main .features-section__community {
  padding-left: 4vw;
  margin-left: 0;
  align-items: center;
}
main .features-section__community .features-section {
  margin-left: 0;
}
main .features-section__community .features-section__section-copy {
  margin-right: 1rem;
}
main .features-section__community .features-section__img-container {
  display: flex;
  justify-content: flex-end;
}
main .features-section img {
  max-width: 100%;
  height: auto;
}
main .features-section__section-copy {
  margin-top: 2rem;
  max-width: 30rem;
  margin-bottom: 3rem;
}
main .features-section__section-copy h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
main .features-section__section-copy p {
  margin-bottom: 1rem;
  font-size: 1.125rem;
}
main .features-section__section-copy a {
  font-size: 1.125rem;
  text-decoration: none;
  color: #1264a3;
}
main .solutions-section {
  border: none;
  overflow: hidden;
  padding: 3rem 0;
  background-color: white;
}
main .solutions-section__container {
  padding: 0 4vw;
  margin: 0 auto;
}
main .solutions-section__container h3 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
}
main .solutions-section__container p {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.125rem;
}
main .solutions-section__container .solutions-section__buttons {
  margin-top: 1rem;
  margin-bottom: 4rem;
  text-align: center;
}
main .solutions-section__container .solutions-section__stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
  padding-top: 1.5rem;
  margin-top: 1rem;
  justify-content: space-around;
  font-size: 1.125rem;
}
main .solutions-section__container .solutions-section__stats li {
  max-width: 190px;
  text-align: center;
  list-style-type: none;
  margin-bottom: 0;
}
main .solutions-section__container .solutions-section__stats li .stat {
  margin: 0;
  color: #541554;
  font-weight: bold;
  font-size: 45px;
}
main .solutions-section__container .solutions-section__stats li .stat-copy {
  font-size: 0.875rem;
  font-size: bold;
  margin: 0;
  color: black;
  margin-bottom: 3rem;
}
main .button-purple-white-l {
  width: 100%;
  background-color: #541554;
  color: white;
  text-align: center;
  border-radius: 4px;
  border: 0.5px solid #541554;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 19px 40px 20px;
}
main .button-white-purple-l {
  width: 100%;
  background-color: white;
  color: #541554;
  text-align: center;
  border-radius: 4px;
  border: 0.5px solid #541554;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 19px 40px 20px;
  margin-top: 1rem;
}
main .stories-section {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  padding-bottom: 1rem;
  max-width: 1530px;
  background-color: white;
}
main .stories-section .video-example {
  margin: 0 0 1rem;
  padding: 0;
}
main .stories-section .video-example video {
  max-height: 600px;
  width: 97%;
  -webkit-clip-path: inset(25px 0 25px 0 round 0 500px 500px 0);
          clip-path: inset(25px 0 25px 0 round 0 500px 500px 0);
}
main .stories-section__copy {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
main .stories-section__copy p {
  font-weight: 300;
  line-height: 1.417;
  letter-spacing: -0.3px;
  margin-top: 0;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  font-style: italic;
}
main .stories-section__copy .customer {
  font-weight: 700;
}
main .stories-section__copy a {
  padding: 1rem 0;
  text-decoration: none;
  color: #1264a3;
}
main .stories-section__asterisk {
  padding: 0 4vw;
  margin: 0 auto;
}
main .stories-section__asterisk p {
  text-align: center;
  font-weight: 400;
  line-height: 1.2857;
  letter-spacing: normal;
  font-size: 0.875rem;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  color: #696969;
}
main .explore-section {
  background-color: #f4ede4;
  border: none;
  padding: 2rem 1rem;
  width: 100%;
}
main .explore-section__title {
  text-align: center;
}
main .explore-section__title header {
  width: auto;
}
main .explore-section__title h3 {
  font-weight: 700;
  line-height: 1.1875;
  letter-spacing: -0.3px;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: black;
}
main .explore-section__boxes-display {
  display: flex;
  flex-wrap: wrap;
}
main .explore-section__box-functions, main .explore-section__box-cases, main .explore-section__box-solutions, main .explore-section__box-how {
  padding: 1rem;
  margin: 0 auto;
  background-color: white;
  max-width: 285px;
}
main .explore-section__box-cases, main .explore-section__box-solutions, main .explore-section__box-how {
  display: none;
}
main .explore-section .info-chart {
  height: 70%;
}
main .explore-section .info-chart img {
  width: 100%;
}
main .explore-section .info-chart p {
  margin: 1.5rem 0;
}
main .explore-section .redirection {
  height: 30%;
  padding-top: 4rem;
  display: flex;
  justify-content: space-between;
  color: #1264a3;
}
main .explore-section ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: grey;
  margin-top: 2rem;
}
main .explore-section ul li {
  margin-left: 1rem;
}
main .explore-section ul .selected {
  color: #541554;
  margin-left: 0;
}
main .discover-section {
  background-color: white;
}
main .discover-section__area {
  -webkit-clip-path: ellipse(105% 100% at center top);
          clip-path: ellipse(105% 100% at center top);
  padding-bottom: 6rem;
  padding-top: 5rem;
  background: #541554;
  border: none;
  height: auto;
  min-height: 370px;
}
main .discover-section__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 4vw;
}
main .discover-section__container h3 {
  text-align: center;
  color: white;
  font-weight: 700;
  line-height: 1.158;
  letter-spacing: -0.8px;
  margin-top: 0;
  font-size: 2rem;
  margin-bottom: 1rem;
}
main .discover-section__container .button-purple-white-l {
  border: 1px solid white;
  margin-top: 1rem;
}
main footer {
  width: 100%;
  background-color: white;
  /*Le doy margin top al divider para que hay un
  espacio igual entre la parte de arriba y la de abajo.
  Arreglar en las mediaqueries*/
}
main footer .footer-menu {
  padding-top: 3.5rem;
}
main footer .footer-menu .footer-menu__container {
  padding: 0 4vw;
}
main footer .footer-menu .footer-menu__container img {
  width: 50px;
}
main footer .footer-menu .footer-menu__container nav {
  display: block;
  margin-bottom: 1rem;
  margin-top: 2rem;
}
main footer .footer-menu .footer-menu__container nav .footer-lists {
  margin-bottom: 1rem;
}
main footer .footer-menu .footer-menu__container nav .footer-lists-element {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 1.5rem;
}
main footer .footer-menu .footer-menu__container nav .footer-lists-element .footer-dropdown {
  display: none;
}
main footer .divider {
  border: 1px solid rgb(202, 202, 202);
  width: 90%;
  margin: 0 auto;
  margin-top: 3rem;
}
main footer .footer-metasocial {
  margin-bottom: 1rem;
  margin-top: 0;
}
main footer .footer-metasocial__container {
  padding: 0 4vw;
  font-weight: bold;
}
main footer .footer-metasocial__container .footer-metasocial__items {
  padding-top: 1rem;
  flex-direction: column;
  align-items: flex-start;
}
main footer .footer-metasocial__container .footer-metasocial__items li {
  margin-top: 2rem;
}
main footer .footer-metasocial__container .footer-metasocial__items .download {
  color: #1264a3;
}
main footer .footer-metasocial__container .footer-metasocial__items span {
  color: blue;
}
main footer .footer-metasocial__container .footer-metasocial__social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}
main footer .footer-metasocial__container .footer-metasocial__social img {
  width: 25px;
}
main footer .footer-legal {
  margin-bottom: 2rem;
  margin-top: 0;
  line-height: 1.25rem;
}
main footer .footer-legal__container {
  padding: 0 4vw;
}
main footer .footer-legal__container p {
  color: #696969;
  font-size: 0.75rem;
}

@media screen and (min-width: 576px) {
  .footer-lists-element {
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }
  .footer-lists-element i {
    display: none;
  }
  /*Si no pongo toda la ruta no funciona*/
  .footer-menu .footer-menu__container nav .footer-lists {
    display: grid;
    align-items: flex-start;
    justify-items: start;
    grid-template-columns: repeat(3, 1fr);
  }
  .footer-menu .footer-menu__container nav .footer-lists .footer-lists-element {
    display: flex;
    flex-direction: column;
  }
  .footer-menu .footer-menu__container nav .footer-lists .footer-lists-element .footer-dropdown {
    display: flex;
    flex-direction: column;
    font-weight: normal;
    font-size: 0.9375rem;
    color: gray;
    line-height: 1.4444;
  }
}
@media screen and (min-width: 768px) {
  main {
    /* Consultar por que así funciona y de la otra forma no */
  }
  main .main-section {
    text-align: left;
    display: flex;
    flex-direction: row;
  }
  main .main-section .welcome-box {
    z-index: 1;
  }
  main .main-section .welcome-box h1 {
    font-size: 2.5rem;
  }
  main .main-section .welcome-box__google-button {
    margin-bottom: 2rem;
  }
  main .main-section .magic-proyect-illustration {
    transform: translateX(100px);
  }
  main .features-section {
    padding: 3rem 0;
    padding-top: 0;
    overflow: hidden;
    background-color: #f4ede4;
    border: 0;
  }
  main .features-section video {
    display: flex;
    max-width: 678px;
    max-height: 400px;
  }
  main .features-section img {
    display: none;
  }
  main .features-section__apps {
    padding-right: 4vw;
  }
  main .features-section__apps .features-section__section-copy {
    margin: 1rem auto 0;
  }
  main .features-section__community {
    margin-left: 0;
    align-items: center;
    padding: 4rem 0;
  }
  main .features-section__community .features-section {
    margin-left: 0;
  }
  main .features-section__community .features-section__section-copy {
    margin: 1rem auto 0;
  }
  main .features-section__section-copy {
    margin-top: 2rem;
    max-width: 30rem;
    margin-bottom: 3rem;
  }
  main .solutions-section__buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
  }
  main .solutions-section .solutions-section__stats {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  main .explore-section ul {
    display: none;
  }
  main .explore-section__boxes-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  main .explore-section__box-functions, main .explore-section__box-cases, main .explore-section__box-solutions, main .explore-section__box-how {
    padding: 1rem;
    margin: 2rem 1rem;
    background-color: white;
    max-width: 285px;
  }
  main .explore-section__box-cases, main .explore-section__box-solutions, main .explore-section__box-how {
    display: block;
  }
  main .footer-metasocial .footer-metasocial__container .footer-metasocial__items {
    display: flex;
    flex-direction: row;
    font-size: 0.75rem;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  main .footer-metasocial .footer-metasocial__container .footer-metasocial__social {
    justify-content: flex-start;
  }
}/*# sourceMappingURL=styles.css.map */